DISCORD_TOKEN=
DISCORD_CLIENT_ID=
PORT=3000

# Lumina API
API_BASE_URL=https://clippers-poc-git-artur-backend-tenant-vlayer.vercel.app/api/external/v1
API_TOKEN=

# Vouch credentials (sandbox)
VOUCH_CUSTOMER_ID=
VOUCH_API_KEY=
VOUCH_WEBHOOK_SECRET=
